{% extends 'base.html.twig' %}

{% block title %}
	Inscription
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div role="alert">{{ error }}</div>
		{% endif %}

		<h1>Créer un compte</h1>

		{% if app.user %}
			<div class="mb-3">
				Vous êtes connecté en tant que{{ app.user.userIdentifier }},
				<a href="{{ logout_path() }}">Déconnexion</a>
			</div>
		{% endif %}

		<div>
			<label for="email">Email</label>
			<input type="email" name="email" id="email" autocomplete="email" required autofocus>
		</div>

		<div>
			<label for="password">Mot de passe</label>
			<input type="password" name="password" id="password" autocomplete="new-password" required>
		</div>

		<input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('register') }}">

		<button type="submit">
			S'inscrire
		</button>
	</form>
{% endblock %}
